apiVersion: apps/v1
kind: Deployment
metadata: 
  name: product-service
  namespace: dev
spec: 
  replicas: 1
  selector:
    matchLabels: 
      app: product-service
  template: 
    metadata: 
      labels: 
        app: product-service
    spec: 
      containers:
        - name: product-service
          image: product-service:1.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet: 
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 20

