server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service.dev.svc.cluster.local
          predicates:
            - Path=/users/**
        - id: product-service
          uri: http://product-service.dev.svc.cluster.local
          predicates:
            - Path=/products/**

management:
  endpoints:
    web:
      exposure:
        include: health,info
